@charset "utf-8";

.page-center {
    width: 1000px;
    margin: 0 auto;
    /* background-color: lightgray; */
}

.brand {
    width: 600px;
    margin: 0 auto;
}

.bi {
    /* width: 100px;
    margin: 0 auto; */
    text-align: center;
}

.navi {
    text-align: center;
    text-transform: capitalize;
}

.new {
    width: 606px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-transform: capitalize;
    color: black;
}

.brand-text {
    text-align: center;
    font-size: 20px;
    border: 2px solid #333;
    width: 400px;
    margin: 30px auto;
    letter-spacing: 20px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

#footer {
    text-align: center;
    color: black;
}

h2 {
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: underline;
}

h3 {
    color: #d075c3;
    font-size: 20px;
    text-decoration: solid;
}

.copyright {
    background-color: black;
    color: white;
    padding: 30px 0;
}


/* Media Query : 미디어 쿼리 */
@media screen and (max-width: 412px) {
    body {
        color: white;
    }

    img,
    picture,
    video {
        max-width: 100%;
    }

    .navi {
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        text-align: center;
        justify-content: center;
        gap: 2px;
        text-transform: uppercase;
    }

    .navi a {
        background: #2d380e;
        color: white;
    }
    .navi a:hover {
        background: #bfff00;
        color: white;
    }
    .page-center {
        width: 100%;
    }
    .copyright {
        width: 100%;
    }
    .brand {
        width: 100%;
    }

    .new {
        width: 70%;
    }
    .brand-text {
        width: 320px;
    }
    
}